<!DOCTYPE html>
<html ng-app="yokesoft" ng-controller="AppCtrl">

<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta charset="utf-8">

<!-- compiled CSS --><% styles.forEach( function ( file ) { %>
<link rel="stylesheet" type="text/css" href="<%= file %>"/>
<% }); %>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

<script src="cordova.js"></script>

</head>
<body layout="row">

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar ng-controller="LeftCtrl">
        <h1 class="md-toolbar-tools"><a href="#/" ng-click="closeNavigation()">Yokesoft</a></h1>
    </md-toolbar>
    <md-content layout-padding ng-controller="LeftCtrl">
        <!--<md-button ng-click="closeNavigation()" class="md-primary" hide-gt-md>-->
        <!--Close Sidenav Left-->
        <!--</md-button>-->
        <!--<p hide-md hide-sm>-->
        <!--gt md now-->
        <!--</p>-->

        <!--<p hide-gt-md>-->
        <!--lt md now-->
        <!--</p>-->
        <nav class="leftnav">
            <ul>
                <li>
                    <md-button type="button" ng-href="#/personlist" ng-click="closeNavigation()">Personen</md-button>
                </li>
                <li>
                    <md-button type="button" ng-href="#/configuration" ng-click="closeNavigation()">Konfiguration
                    </md-button>
                </li>
            </ul>
        </nav>

        <!--<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--</p>-->

        <!--<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--</p>-->

        <!--<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--</p>-->

        <!--<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text-->
        <!--</p>-->


    </md-content>
</md-sidenav>

<div layout="column" role="main" flex ng-view>


</div>

<!--<script>-->
<!--var socket = io();-->
<!--socket.on('connect', function () {-->
<!--console.log('connected to socket.io');-->
<!--});-->
<!--socket.on('connections', function (msg) {-->
<!--console.log(msg.msg);-->
<!--});-->
<!--socket.on('person', function (msg) {-->
<!--console.log('person: ' + msg.action + ', data: ' + JSON.stringify(msg.data))-->
<!--});-->
<!--</script>-->

</body>
</html>
