<md-toolbar class="md-whiteframe-glow-z1 md-default-theme">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()" hide-gt-md>
            <md-icon md-svg-icon="assets/img/menu.svg"></md-icon>
        </md-button>
        <h2>
            <span>Personen</span>
        </h2>
        <span flex></span>

    </div>
</md-toolbar>

<md-content layout-padding>
    <form name="personForm" id="personForm" novalidate>
        <div layout="row" style="margin-bottom: 20px;" ng-controller="PictureCtrl as pictureCtrl">
            <img class="personimage-round-big" id="personImage">
            <md-button type="button" ng-click="pictureCtrl.takePicture()" ng-if="pictureCtrl.cordova">Bild hinzufügen
            </md-button>
            <span ng-if="!(pictureCtrl.cordova === true)" style="font-size: xx-small; color: lightgrey">Bildaufnahme ist nur über Mobile App möglich</span>
        </div>
        <div layout="row" ng-controller="GeolocationCtrl as geolocationCtrl">
            <div>Koordinaten: {{person.position}}</div>
        </div>
        <div layout="row" layout-sm="column">
            <md-input-container flex="40" flex-sm="100">
                <label>Vorname</label>
                <input ng-model="person.firstname">
            </md-input-container>
            <md-input-container flex>
                <label>Name</label>
                <input name="lastname" ng-model="person.lastname" required>

                <div ng-messages="personForm.lastname.$error">
                    <div ng-message="required" ng-if="personForm.lastname.$error.required">Dies ist ein Pflichtfeld.
                    </div>
                </div>
            </md-input-container>
        </div>
        <md-input-container>
            <label>E-Mail</label>
            <input name="email" ng-model="person.email" type="email" required="true">

            <div ng-messages="personForm.email.$error">
                <div>
                    <span ng-message="required"
                          ng-if="personForm.email.$error.required">Dies ist ein Pflichtfeld.</span>
                    <span ng-message="email" ng-if="personForm.email.$error.email">Bitte geben Sie eine gültige E-Mail-Adresse ein.</span>
                </div>

            </div>
        </md-input-container>
        <md-input-container>
            <label>Adresse</label>
            <input ng-model="person.street">
        </md-input-container>
        <div layout="row" layout-sm="column">
            <md-input-container flex="40" flex-sm="100">
                <label>PLZ</label>
                <input ng-model="person.zip">
            </md-input-container>
            <md-input-container flex>
                <label>Ort</label>
                <input name="place" ng-model="person.place" required>

                <div ng-messages="personForm.place.$error">
                    <div ng-message="required" ng-if="personForm.place.$error.required">Dies ist ein Pflichtfeld.</div>
                </div>
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Land</label>
            <input ng-model="person.country">
        </md-input-container>
        <div layout="row">
            <md-input-container>
                <md-checkbox class="md-primary" ng-model="person.teacher" aria-label="Teacher"
                             ng-change="processTeacherSelection()">
                    Lehrer
                </md-checkbox>
            </md-input-container>
            <md-input-container>
                <md-checkbox class="md-primary" ng-model="person.student" aria-label="Student">
                    Schüler
                </md-checkbox>
            </md-input-container>
        </div>

        <div layout="row" ng-if="person.teacher" class="fade">
            <label style="margin: 12px 20px 0px 10px">Lehrer Qualifikationen</label>

            <div layout="column">
                <div ng-repeat="qualification in teacherqualifications">
                    <md-checkbox class="md-primary" ng-model="selectedteacherqualification[qualification]">
                        {{qualification}}
                    </md-checkbox>
                </div>
            </div>
        </div>

        <md-input-container flex>
            <label>Bemerkungen</label>
            <textarea ng-model="person.remarks" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
        <section layout="row" layout-sm="row" layout-align="end center">
            <md-button type="button" ng-href="#/personlist" tabindex="-1">Abbrechen</md-button>
            <md-button type="button" ng-click="removePerson()" ng-if="person._id" tabindex="-1">
                Löschen
            </md-button>
            <md-button type="submit" class="md-primary" ng-click="savePerson()">Speichern
            </md-button>
        </section>
    </form>


</md-content>

<div flex></div>